/* ===========================
Estilos del header
==============================*/
#hero {
    height: 100vh;
    position: relative;
    width: 100vw;
  }
  
  .bg-hero {
    background-attachment: fixed;
    background-image: url(./images/summit-conference.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.3);
    height: 100%;
    position: absolute;
    width: 100%;
  }
  
  .hero-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    max-width: 320px;
    padding: 0 4vw;
    position: relative;
  }
  
  .main-social-media-nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2vh;
    width: 100%;
  }
  .main-social-media-nav a {
    color: white;
    font-size: 35px;
  }
  .main-social-media-nav a:hover {
    cursor: pointer;
  }
  
  .event-name {
    color: white;
    font-size: 35px;
    text-align: center;
    width: 100%;
  }
  
  .slogan {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 100%;
  }
  
  .scroll-down-arrow {
    text-align: center;
  }
  .scroll-down-arrow a {
    color: white;
    font-size: 40px;
  }
  
  /*=======================================================
  ESTILOS For small screen devices, like phones, held in 
  landscape mode. 480px/30em
  =========================================================*/
  @media only screen and (min-width: 30em) {
    .hero-content {
      margin: 0 auto;
      max-width: 450px;
      padding: 0;
    }
  
    .main-social-media-nav a {
      font-size: 50px;
    }
  
    .event-name {
      font-size: 52px;
    }
  
    .slogan {
      font-size: 25px;
      width: 80%;
    }
  
    .scroll-down-arrow a {
      font-size: 55px;
    }
  }
  /*=========================================================
  ESTILOS Smaller tablets, like the Amazon Kindle (600×800) 
  and Barnes & Noble Nook (600×1024), held in portrait mode. 
  600px/37.5em
  ===========================================================*/
  @media only screen and (min-width: 37.5em) {
    .hero-content {
      margin: 0 auto;
      max-width: 550px;
      padding: 0;
    }
  
    .event-name {
      font-size: 60px;
    }
  
    .slogan {
      font-size: 28px;
    }
  }
  /*=========================================================
  ESTILOS Ten-inch tablets like the iPad (768×1024) held in
  portrait mode. 768px/48em
  ===========================================================*/
  @media only screen and (min-width: 48em) {
    .main-social-media-nav a {
      font-size: 60px;
    }
  
    .hero-content {
      margin: 0 auto;
      max-width: 750px;
      padding: 0;
    }
  
    .event-name {
      font-size: 85px;
    }
  
    .slogan {
      font-size: 38px;
    }
  }
  /*=========================================================
  ESTILOS Tablets like the iPad (1024×768) held in landscape
  mode, as well as certain laptop, netbook, and desktop 
  displays. 1024px/64em
  ===========================================================*/
  @media only screen and (min-width: 64em) {
    .hero-content {
      margin: 0 auto;
      max-width: 900px;
      padding: 0;
    }
  
    .event-name {
      font-size: 100px;
    }
  
    .slogan {
      font-size: 40px;
    }
  }
  /*=========================================================
  ESTILOS For widescreen displays, primarily laptop and
  desktop browsers. 1200px/75em
  ===========================================================*/
  @media only screen and (min-width: 75em) {
    .hero-content {
      margin: 0 auto;
      max-width: 1100px;
      padding: 0;
    }
  
    .event-name {
      font-size: 130px;
    }
  
    .slogan {
      font-size: 46px;
    }
  }