.eventos{
    display: flex;
    
    border: 1px solid;
    border-color: #fd4918;
    font-size: 0.95rem;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    height: 50%;
    width: 50%;
}
.eventos:hover{
    
    border: 2px solid;
    border-color: #fd4918;
}

.menu-evento{

    background-color: #353535;
    color: white;
    height: 50px;
    text-align: center;

}

i{
    padding: 7px;
}

.fecha-evento{
    
}
