/* ===========================
Estilos de la seccion map
==============================*/
.map-content {
    height: 80vh;
  }
  .map-content iframe {
    height: inherit;
    width: 100%;
  }
  
  /*=======================================================
  ESTILOS For small screen devices, like phones, held in 
  landscape mode. 480px/30em
  =========================================================*/
  /*=========================================================
  ESTILOS Smaller tablets, like the Amazon Kindle (600×800) 
  and Barnes & Noble Nook (600×1024), held in portrait mode. 
  600px/37.5em
  ===========================================================*/
  /*=========================================================
  ESTILOS Ten-inch tablets like the iPad (768×1024) held in
  portrait mode. 768px/48em
  ===========================================================*/
  /*=========================================================
  ESTILOS Tablets like the iPad (1024×768) held in landscape
  mode, as well as certain laptop, netbook, and desktop 
  displays. 1024px/64em
  ===========================================================*/
  /*=========================================================
  ESTILOS For widescreen displays, primarily laptop and
  desktop browsers. 1200px/75em
  ===========================================================*/